body {
	margin: 0;
	padding: 0;
}

.main-ico {
	border: 3px solid black;
	border-radius: 45px;
	margin-top: 5px;
}

.nav-bar {
	background-color: #2e2d2c;
	width: 100vw;
	height: 80px;
	overflow: hidden;
}

.main-text {
	display: inline-block;
	position: absolute;
	margin-left: 10px;
	font-family: Gill Sans, sans-serif;
	color: whitesmoke;
}

.links {
	text-align: center;
	position: relative;
	margin-top: -50px;
	font-size: calc(5px + 1vw);
	display: block;
	text-align: center;
	text-decoration: none;
}

.links a:hover {
	background: whitesmoke;
	color: black;
}

.shop-link, .gallery-link, .about-link {
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	margin-left: 200px;
	font-family: Gill Sans, sans-serif;
	color: whitesmoke;
	text-decoration: none;
	font-weight: 600;
}

.shop-link {
	margin-left: 0px;
}

/* Для всех экранов */
section h1 { font-size: 2rem; }
section div { font-size: 1rem; }
/* Для ширины 1024 пикселей и меньше */
@media screen and (max-width: 1024px) {
 section h1 { font-size: 2.2rem; }
 section div { font-size: 1.2rem; }
}
/* Для ширины 600 пикселей и меньше */
@media screen and (max-width: 600px) {
 section h1 { font-size: 2.5rem; }
 section div { font-size: 1.5rem; }
}

.footer {
	display: flex;
  align-items: center;
  justify-content: center;
}

.tg, .in, .vk, .yt, .git {
	display: flex;
	margin-right: 7px;
}